<?xml version="1.0" encoding="UTF-8"?>
<!-- debug="true"会在控制台打印logback内部日志 -->
<configuration debug="true">
    <!-- 日志文件存储地址绝对路径 -->
    <property name="LOG_HOME" value="anoob-realtime/logs"/>

    <!-- 指定日志输出位置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %d时间格式 %p日志级别 %t线程名 %c类的全路径,%c{1}只取类名 %l发生位置 %m日志信息 %n换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c - %m%n</pattern>
        </encoder>
    </appender>

<!--    &lt;!&ndash; 按照每天生成日志文件,存储事件日志 &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        &lt;!&ndash; 基于时间的滚动策略,如果是web项目会保存到Tomcat的bin目录下 &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; 日志文件名称 &ndash;&gt;-->
<!--            <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}.log</FileNamePattern>-->
<!--            &lt;!&ndash; 日志文件保留天数 &ndash;&gt;-->
<!--            <MaxHistory>3</MaxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{50} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash; 基于大小的触发策略 &ndash;&gt;-->
<!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--            <MaxFileSize>128MB</MaxFileSize>-->
<!--        </triggeringPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; 异步打印日志 &ndash;&gt;-->
<!--    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">-->
<!--        &lt;!&ndash; 默认不丢失日志,如果队列的80%已满,则会丢弃TRACE/DEBUG/INFO级别的日志 &ndash;&gt;-->
<!--        <discardingThreshold>0</discardingThreshold>-->
<!--        &lt;!&ndash; 默认队列深度256,该值会影响性能 &ndash;&gt;-->
<!--        <queueSize>512</queueSize>-->
<!--        &lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </appender>-->

    <!-- 设置全局日志级别 -->
    <root level="WARN">
        <!-- 指定打印日志的appender -->
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="ASYNC_FILE" />-->
    </root>
</configuration>